<div class="panel panel-default">
    <div class="panel-body">
        {% if url_contains_port %}
            <div class="alert alert-warning alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>
                {{ warning_url_message }}
            </div>
        {% endif %}
    </div>
</div>
