<div class="panel panel-default">
    <div class="panel-body">
        {% if url_contains_port %}
            <div class="alert alert-warning alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>
                {{ warning_url_message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label class="col-sm-2 control-label">
                    {{ text_callback_urls_title }}
            </label>
            <div class="col-sm-10">
                {% for url in callback_urls %}
                    <div class="col-sm-10 media">
                        {{ url }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>